<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Tienda de abarrotes chachau</title>
    <style>
        .title
            {
                font-weight: 700;
                text-align: center;
                color: rgb(115, 24, 200);   
            }
        .main-content
            {
                max-width: 900px;
                margin: 0 auto;
            }
    </style>
</head>
<body>
    <h1 class="title">Guardar productos</h1>
        <div data-role="header" class="main-content">
            <div data-role="navbar">
            <ul>
                <li><a href="#" class="ui-btn-active">Save product</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">XD</a></li>
            </ul>
                </div>
        </div>
        <div data-role="content" class="main-content">
            <form method="post" action="/api/products/insertOne">
                <label for="barcode">Codigo de barras:</label>
                <input type="text" name="barcode" id="barcode" placeholder="Código de barras" value="">

                    <label for="description">Descripción:</label>
                    <input type="text" name="description" id="description" placeholder="Descripción" value="" required>

                    <label for="brand">Marca:</label>
                    <input type="text" name="brand" id="brand" placeholder="Marca" value="" required>

                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price" placeholder="precio de tu product" value="" required>

                    <label for="stock">Stock:</label>
                    <input type="number" name="stock" id="stock" placeholder="Disponibilidad del producto" value="" required>

                    <label for="expireDate">Caducidad</label>
                    <input type="date" name="expireDate" id="expireDate" placeholder="Fecha" value="">
                    <label for="flip-2">Estatus:</label>
                    <select name="status" id="status" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                    <label for="checkbox-6">I agree</label>
                    <label for="submit-2">Send:</label>

                    <button class="ui-shadow ui-btn ui-corner-all" type="submit" id="submit-2">Submit</button>
            </form>
        </div>
        <div data-role="footer">
            
        </div>
</body>
</html>